{% extends "app/template.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


{% get_providers as socialaccount_providers %}


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
 <h4 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 
            'Helvetica Neue', sans-serif;">Iniciar Sesion</h4>
        <hr style="padding-bottom: 10px;">
        <div class="form-row">
            <div class="form-group col-md-6">
               {{ form.login }}
            </div>
            <div class="form-group col-md-6">
                {{ form.password }}
            </div>
        </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn-primary" type="submit">{% trans "Sign In" %}</button>
  {% if socialaccount_providers %}
<a class="btn btn-success" href="{% url 'registro' %}">Registro</a></p>
</div>
<div class="socialaccount_ballot">
  <ul class="btn btn-success">
  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>
</form>



{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}


{% endblock %}