body{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.carousel-inner > .item {
    height: 400px;
 }

section {
    padding-top: 3%;
    padding-bottom: 5%;
}

form {
    border: 1px solid black;
    border-radius: 2%;
    margin: auto;
    padding: 20px;
    width: 500px;
    text-align: center;
    background-image: url(../img/campnou.jpg);
 }

 form h4 {
     color: white;
 }

 form .input {
     width: 100%;
     margin-bottom: 30px;
     box-sizing: border-box;
     height: 35px;
     border: 1px solid black;
     outline: none;
     font-size: 20px;
 }

form textarea {
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: 15px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

 .submit {
     width: 100px;
     height: 40px;
     background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(129,252,70,1) 100%);
 }

 label{
     color: red;
 }

 figcaption.figure-caption{
     color: white;
     text-align: center;
 }
 .imgcarousel{
     width: 600px;
     height: 800px;
 }



 .bio {
    width: 80%;
    margin: auto;
    color: white;
 }

 .bio p {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 @media only screen and (max-width: 600px) {

    .portada img {
        width: 50%;
        height: 20%;
        
      }

    .bio p img {
      width: 50%;
      
    }

    .bio {
        padding-bottom: 15%;
    }

    footer {
        height: 15%;
    }

    footer div {
        flex-wrap: wrap;
    }

    .form form {
        width: 80%;
        background-repeat: no-repeat;
    }

    .form {
        padding-bottom: 150px;
    }
  }