{% extends "app/template.html" %} {% load static %} {% block title %}Listar contacto{% endblock %} {% block content %}


<div class="table-responsive">
<table class="table table-stripped table-dark">
    <thead>
        <tr>
            <th scope="col">RUT</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">TELEFONO</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        {% if usuarios %}
        {% for u in usuarios %}
        {% if not u.is_staff %}
        <tr>
        <td>{{u.username}}</td>
        <td>{{u.first_name}}</td>
        <td>{{u.last_name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.phone}}</td>

        <!--BOTONES-->
        <td><a data-target="#ModalListar-{{u.username}}" data-toggle="modal" class="btn btn-primary">VER</a></td>
        <td><a href="{% url 'eliminar-usuario' u.username %}" class="btn btn-danger">ELIMINAR</a></td>
        </form></td>



<td>    
<div class="modal fade" id="ModalListar-{{u.username}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="ModalLabel">Comentarios de {{ u.first_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">COMENTARIO</th>
                <th scope="col">IMAGEN</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            {% if contactos %}
            {% for c in contactos %}
                {% if c.rut == u.username %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.comentario }}</td>
                    <td><a href="{{ c.imagen }}" target="_blank"><img src="{{ c.imagen }}" width="100px" height="50px"></a></td>
                    <td><a href="{% url 'eliminar-contacto' c.id %}" class="btn btn-danger">ELIMINAR</a></td>
                </tr>
                {% endif %}
            {% endfor %}
            {% endif %}
        </tr>
        </tbody>    
    </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</td>


        </tr>
        {% endif %} 
        {% endfor %} 
        {% endif %} 
    </tbody>
</table>
</div>

<!--MODAL-->



{% endblock %}