{% extends "app/template.html" %} {% load static %} {% block title %}Login Messirve{% endblock %} {% block content %}

<section class="form">
    <form name="login" action="" method="POST">
        {% csrf_token %}
        <h4 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 
            'Helvetica Neue', sans-serif;">Iniciar Sesion</h4>
        <hr style="padding-bottom: 10px;">
        <div class="form-row">
            <div class="form-group col-md-6">
               {{ form.username }}
            </div>
            <div class="form-group col-md-6">
                {{ form.password }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit" id="login" name="btn_enviar" >
        {% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ form.non_field_errors }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endif %} 
    </form>


{% endblock %}