{% extends "app/template.html" %} {% load static %} {% block title %}Registro{% endblock %} {% block content %}


<section class="form">
    <form id="registro" name="registro" action="/registro" method="POST">
        {% csrf_token %}
        <h4 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 
            'Helvetica Neue', sans-serif;">Te diré como ser el mejor del mundo</h4>
        <hr style="padding-bottom: 10px;">
        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.first_name }}
        </div>
        <div class="form-group">
            {{ form.last_name }}
        </div>
        <div class="form-group">
            {{ form.phone }}
        </div>
        <div class="form-group">
            {{ form.email }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.password1 }}
            </div>
            <div class="form-group col-md-6">
                {{ form.password2 }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit" id="formulario" name="btn_enviar" >
    </form>


    {% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ form.errors }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

{% endif %} 


</section>

{% endblock %}