{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/brands.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-secondary navbar-expand-lg">
        <a class="navbar-brand" style="color: white;" href="/home">
            <img src="{% static 'img/logo2.png' %}" width="50" height="50" /> Messirve
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                {% endif %}
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar-contacto' %}">Listar contacto</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="#">{{user.username}}</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'account_login' %}">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}

</body>
<footer class="fixed-bottom bg-secondary">
    <div class="container-fluid">
        <div class="center-block d-flex flex-row-reverse">
            <br/>
            <a href="https://es-la.facebook.com/leomessi" target="_blank" style="color: white;"><i class="fab fa-facebook-square fa-3x fa-fw"></i></a>
            <a href="https://twitter.com/wearemessi" target="_blank" style="color: white;"><i class="fab fa-twitter-square fa-3x fa-fw"></i></a>
            <a href="https://whatsapp.com" target="_blank" style="color: white;"><i class="fab fa-whatsapp-square fa-3x fa-fw"></i></a>
            <a href="mailto:messirve-team@gmail.com" target="_blank" style="color: white;"><i class="fa fa-envelope-square fa-3x fa-fw"></i></a>
            <div class="d-flex justify-content-center" style="padding-right: 30%; padding-top: 20px;">© 2020 Copyright:
                <a href="https://github.com/NicolasSDuoc/Messirve/tree/django" target="_blank"> Team Messi</a>
            </div>

        </div>
    </div>
    <br>
</footer>




</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
<script src="{% static 'js/formvalidation.js' %}"></script>
<script src="{% static '/rest_framework/js/ajax-form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>



</html>